*/*css reset*/
{
    margin:0;
    padding:0;
}

/************************************************************/
/*Top Level elements*/
/************************************************************/

body
{
    font-size:0.8em;
    font-family: verdana, sans;
}

div.page
{
    font-size:1em;
    margin:auto;
    max-width:70em;
    line-height:1.3em;
}

div.section, div.pageindex, div.titleblock, div.footerblock, div.index
{
    border:green solid 1px;
    padding:1em;
    margin-top:1em;
}

div.titleblock, div.footerblock
{
    text-align:center;
}

div.main, div.alternate
{
    border-top: dotted green 1px;
    padding-bottom: 2em;
}

div.alternate
{
    background: #F0FFF0;
}

div.descitem
{
    margin-left: 1.5em;
}

div.index
{
    padding-bottom:2em;
}

div.duindex
{
    margin-bottom: 1.5em;
}

/************************************************************/
/*Headings*/
/************************************************************/

h1, h2, h3
{
    color: #005000;
}

h1
{
    font-size:1.3em;
    margin-top:1em;
    margin-bottom:1em;
}

h1.sectionheading
{
    text-decoration:underline;
    margin-bottom:1.5em;
}

div.index h1.title
{
    text-align:center;
    margin-bottom:2em;

}

div.index h1
{
    margin-left:4em;
}

h2
{
    font-size:1.2em;
}

h3
{
    font-size:1em;
}

/************************************************************/
/*Tables*/
/************************************************************/

div.table
{
    width:100%;
    overflow-x:auto;
}

table
{
    border-collapse: collapse;
    width:100%;
}


tr, td, th
{
    border: 1px solid gray;
}

td, th
{
    padding: 0.25em 0.5em;
}

div.footnotes
{
    border: 1px solid gray;
    width:80%;
    margin-top: -1px;
    padding-left:1em;
}

div.footnotetext
{
    margin-left:3em;
    margin-top:-2em;
}

/************************************************************/
/*Lists*/
/************************************************************/

ul.BULLET {list-style-type:disc;}
ul.SQUARE {list-style-type:square;}
ul.NONE {list-style-type:none;}
ul.NDASH {list-style-type:circle;}

li
{
    margin-left: 2em;
}

/************************************************************/
/*Paragraphs*/
/************************************************************/

p
{
    margin-top:1em;
    margin-bottom:1em;
}

div.pageindex p, div.duindex p
{
    margin-top:0;
    margin-bottom:0;
    margin-left:3em;
}

div.index p
{
    margin: 0 0 0 8em;
}

p.applies
{
    color: gray;
    font-size: 0.9em;
    margin-left: 5em;
}

/************************************************************/
/*Cautions, notes, examples etc.
/************************************************************/

div.note, div.example, div.caution
{
    padding: 0.25em 0.5em;
    margin: 1em;
}


div.note, div.example
{
    border: blue 1px solid;
}

div.caution
{
    border: red 2px solid;
}

/************************************************************/
/*Images*/
/************************************************************/

img
{
    padding-top:1em;
    padding-bottom:1em;
}

table.callouts
{
    width:auto;
    margin:auto;
    border: none;
}

tr.callout, td.callout
{
    border:none;
}

td.callout h1
{
    font-size: 1.1em;
}

div.callout-list
{
    text-align:left;
    margin:1em auto;
    max-width:80%;
}

/************************************************************/
/*Folding functionality*/
/************************************************************/

div.folded *
{
    display:none;
}

a.showme, a.hideme
{
    margin-top:0.25em;
    text-align:right;
}

a.showme
{
    display:none;
}

div.folded a.showme
{
    display:block;
}

a.hideme
{
    display: block;
}

div.folded a.hideme
{
    display:none;
}

/************************************************************/
/*First level indenting*/
/************************************************************/

div.main > *, div.alternate > *, div.index > *, div.duindex > *,
div.main > div.equal, div.alternate > div.equal
{
    margin-left: 10%;
    max-width:55em;
}

div.main > h1, div.alternate > h1
{
    margin-left: 1em;
}

div.main > div.table, div.alternate > div.table,
div.main > div.image, div.alternate > div.image,
div.main > div.footnotes, div.alternate > div.footnotes
{
    margin-left: 0;
    margin-right: 0;
    max-width:100%;
}

/************************************************************/
/*exch DTD "equal" element*/
/************************************************************/

table.equal
{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width:100%;
}

table.equal td.equ-l
{
    /* width:35%; */
}

/************************************************************/
/*exch DTD "desc-cond" element*/
/************************************************************/

div.desccond div.intro
{
    font-weight:bold;
}

div.desccond div.condbody
{
    padding-left:2em;
}

/************************************************************/
/*Miscellaneous*/
/************************************************************/

span.ifinst
{
    font-size:0.8em;
    font-style:italic;
    color: gray;
}

div.tdu
{
    background: yellow;
}

/************************************************************/
/*Debugging elements*/
/************************************************************/

div.not-impl
{
    background-color:red;
}

p.duident, p.img-detail
{
    display:none;
}

div.image
{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:center;
}

span.duref, span.symbol
{
    background-color: #A0A0FF;
}





div.condition div.procbody
{
    margin-left:3em;
}

table.cr
{
    border:none;
}

table.cr tr
{
    border:none;
}

table.cr td
{
    vertical-align:bottom;
    border:none;
    white-space:nowrap;
    margin:0 0.5em;
    font-weight:bold;
}

div.dots
{
    border-bottom:2px dotted;
    margin-bottom:2px;
}

span.ecamsys
{
    text-decoration:underline;
}

