*/*css reset*/
{
    margin:0;
    padding:0;
}

/************************************************************/
/*Top Level elements*/
/************************************************************/

body
{
	font-family: helvetica, Arial, verdana, tahoma, georgia, sans-serif;
	margin:0;
	font-size:100%;
	line-height:1.3;
   color:black;
   background-color:gray;
}

div.page
{
    font-size:0.9em;
    margin:auto;
    max-width:55em;
    min-width: 40em;
    line-height:1.3em;
    background-color:white;
    padding: 0.5em;
    border-radius: 10px;
}

div.content
{
    font-size: 1em;
}

div.section, div.pageindex, div.titleblock, div.index
{
    border-radius: 10px;
    border:green solid 1px;
    padding:1em;
    padding-left: 2em;
    margin-top:1em;
}

div.titleblock, div.footerblock
{
    text-align:center;
}

div.main, div.alternate
{
    border-top: dotted green 1px;
    padding-bottom: 2em;
}

div.group div.main, div.group div.alternate
{
    border-top: none;
    padding-bottom: 0;
}

div.group
{
    border-top: dotted green 1px;
    padding-bottom: 2em;
}

div.alternate
{
    background: #F0FFF0;
}

div.descitem
{
    margin-left: 1.5em;
}

div.duindex
{
    margin-bottom: 1.5em;
}

div.titleblock h2, div.linkbar
{
    border: 1px solid green;
    margin-top: 1em;
    padding: 0 0.5em;
    border-radius: 10px;
}

div.linkbar
{
    overflow:hidden;
    position: relative;
}


div.otherlinks
{
    position:absolute;
    right:1em;
    top: 0em;
}

div.linkbar p
{
    margin:0;
    padding: 0.2em;
    overflow:hidden;
}
/************************************************************/
/*Headings*/
/************************************************************/

h1, h2, h3
{
    color: #005000;
}

h1
{
    font-size:1.1em;
    margin-top:1em;
    margin-bottom:1em;
}

h1.sectionheading
{
    text-decoration:underline;
    margin-bottom:1.1em;
    font-size: 1.2em;
}

h2
{
    font-size:1.05em;
}

h3
{
    font-size:1em;
}

div.titleblock h1
{
	 margin: 0.25em 0;
	 text-align: center;
	 font-size:1.75em;
}

div.titleblock h2
{
	 text-align:center;
	 font-weight: bold;
	 font-size:1.2em;
    margin-top: 2em;
    padding: 0.25em;
}

/************************************************************/
/*Tables*/
/************************************************************/

div.table
{
    width:100%;
    overflow-x:auto;
}

table
{
    border-collapse: collapse;
    width:100%;
}


tr, td, th
{
    border: 1px solid gray;
}

td, th
{
    padding: 0.25em 0.5em;
}

div.footnotes
{
    border: 1px solid gray;
    width:80%;
    margin-top: -1px;
    padding-left:1em;
}

div.footnotetext
{
    margin-left:3em;
    margin-top:-2em;
}

/************************************************************/
/*Lists*/
/************************************************************/

ul.BULLET {list-style-type:disc;}
ul.SQUARE {list-style-type:square;}
ul.NONE {list-style-type:none;}
ul.NDASH {list-style-type:circle;}

li
{
    margin-left: 2em;
}

/************************************************************/
/*Paragraphs*/
/************************************************************/

p
{
    margin-top:1em;
    margin-bottom:1em;
}

div.pageindex p, div.duindex p
{
    margin-top:0;
    margin-bottom:0;
    margin-left:3em;
}

div.index p
{
    margin: 0.25em 0 0 0;
}


/************************************************************/
/*Cautions, notes, examples etc.
/************************************************************/

div.note, div.example, div.caution
{
    padding: 0.25em 0.5em;
    margin: 1em;
}


div.note, div.example
{
    border: blue 1px solid;
}

div.caution
{
    border: red 2px solid;
}

/************************************************************/
/*Images*/
/************************************************************/

img
{
    padding-top:1em;
    padding-bottom:1em;
}

table.callouts
{
    width:auto;
    margin:auto;
    border: 1px solid grey;
}

tr.callout, td.callout
{
    border:1px solid grey;
}

td.callout h1
{
    font-size: 1.1em;
}

div.callout-list
{
    text-align:left;
    margin:1em auto;
    max-width:50em;
}

/************************************************************/
/*Folding functionality*/
/************************************************************/

div.folded
{
    display:none;
}

/************************************************************/
/*First level indenting*/
/************************************************************/

div.main > *, div.alternate > *, div.index > *, div.duindex > *,
div.main > div.equal, div.alternate > div.equal
{
    margin-left: auto;
    margin-right: auto;
    max-width:50em;
}

div.main > h1, div.alternate > h1
{
    margin-left: 0;
}

div.main > div.table, div.alternate > div.table,
div.main > div.image, div.alternate > div.image,
div.main > div.footnotes, div.alternate > div.footnotes
{
    margin-left: 0;
    margin-right: 0;
    max-width:100%;
}

/************************************************************/
/*exch DTD "equal" element*/
/************************************************************/

table.equal
{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    width:100%;
}

table.equal th.equ-l
{
    min-width:15%;
}

/************************************************************/
/*exch DTD "desc-cond" element*/
/************************************************************/

div.desccond div.intro
{
    font-weight:bold;
}

div.desccond div.condbody
{
    padding-left:2em;
}

/************************************************************/
/*Miscellaneous*/
/************************************************************/

span.ifinst
{
    font-size:0.8em;
    font-style:italic;
    color: gray;
}

div.tdu
{
    background: yellow;
}

/************************************************************/
/*Debugging elements*/
/************************************************************/

div.not-impl
{
    background-color:red;
}

p.duident, p.img-detail
{
    display:none;
}

div.image
{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:center;
}

span.duref, span.symbol
{
    background-color: #A0A0FF;
}





div.cr
{
    overflow:auto;
}

table.cr
{
    border:none;
}

table.cr tr
{
    border:none;
}

table.cr td
{
    vertical-align:bottom;
    border:none;
    white-space:nowrap;
    font-weight:bold;
    padding:0.5em 0;
}

td.cr-left:
{
    margin-right:1em;
}

td.cr-right:
{
    margin-left:1em;
}

td.cr-dots
{
    width:100%;
    min-width:2em;
}

div.dots
{
    border-bottom:2px dotted;
    margin-bottom:2px;
}

span.ecamsys
{
    text-decoration:underline;
}

div.command
{
    font-weight: bold;
}

div.condbody
{
    margin-left: 2em;
}

div.status > *
{
    margin-left: 2em;
}

div.status > h1
{
    margin-left: 0;
}

div.procsynthesis td, div.procsynthesis th
{
    width:50%;
}

div.condsys p.intro
{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0
}

div.condition > div.procbody,
div.condition > div.procdesc
{
    border-left: 1px dotted green;
    padding-left:3em;
}

div.condition > p.intro
{
   color: #005000;
   font-weight: bold;
}

p.landasap
{
    font-size: 2em;
    font-weight: bold;
}

td > p:first-child, th > p:first-child
{
    margin-top:0;
}

td > p:last-child, th > p:last-child
{
    margin-bottom:0;
}

td > h1:first-child
{
    margin-top:0em;
    margin-bottom:0.5em
}

img.symbol
{
    margin:0;
    padding:0;
}


div.tags
{
    text-align: right;
    margin-bottom: -2px;
    padding-top:7px;
}


div.tags a
{
    white-space:nowrap;
    padding: 4px 1em 0;
    margin-left: 1px;
    border-style: solid solid none;
    border-width: 1px;
    border-color: gray;
    text-decoration: none;
    background-color: white;
    font-size: 0.85em;
    border-bottom: 1px dotted green;
}

div.tags a.alternate
{
    background-color: #F0FFF0;
}


div.tags a.active
{
    color: black;
    padding-top: 5px;
    border-bottom: 1px solid white;

}

div.index
{
    padding: 2em 8em;
}

div.index p
{
    position:relative;
    padding-left: 20px;
}

div.index > p.sectionheading
{
    font-weight: bold;
}

div.index > p.sectionheading
{
    margin: 1em 0;
}

div.index p a img
{
    position: absolute;
    margin:0;
    padding:0;
    top: 0.2em;
    left: 0;
}

div.index div.section
{
    margin: 0;
    padding: 0 0 1em 3em;;
    border: none;
}

table.navbar, table.navbar tr, table.navbar td
{
    border: none;
}



table.navbar td.left
{
    text-align: left;
    width:50%;
}

table.navbar td.right
{
    text-align: right;
    width:50%;
}

div.foldmessage {
    margin-bottom: 1.5em;
    text-align:center;
}

#folding_reg
{
    font-weight: bold;
}

div.infocontainer
{
    position:relative;
    width: 18px;
    height: 18px;
    padding: 1px 2px;
    margin: 2px 0 -20px auto;
}

div.group div.infocontainer
{
    margin: 0 0 -2px auto;
}

div.infocontainer img
{
    padding:1px;
}

div.infocontainer:hover
{
    width: 100%;
}

div.infocontainer div.info
{
    position: absolute;
    display: none;
}

div.infocontainer:hover div.info
{
    display: block;
    width: 100%;
    top: 0;
    right:0;
    border: 1px gray solid;
    padding:1em;
    color: gray;
    font-size:0.85em;
    background-color: white;
    box-shadow: 2px 2px 2px 2px;
}

div.du_container div.infocontainer img
{
    display: none;
}

div.du_container:hover div.infocontainer img
{
    display: block;
}

a img
{
    border:none;
}

span.rev
{
    background-color: #FFFF90;
}

div.tdu_warning
{
    border: solid yellow 10px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-top:1em;
}